<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ibijyanye N' Umuzigo</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <!-- https://fonts.google.com/specimen/Roboto -->


    <link rel="stylesheet" href="{% static 'customer-dashboard/css/fontawesome.min.css' %}">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="{% static 'customer-dashboard/css/bootstrap.min.css' %}">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="{% static 'customer-dashboard/css/templatemo-style.css' %}">
    <!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->
</head>

<body id="reportsPage">
    <div class="" id="home">
        <nav class="navbar navbar-expand-xl">
            <div class="container h-100">
                <a class="navbar-brand" href="{% url 'customer_dashboard' %}">
                    <h1 class="tm-site-title mb-0">MURAKAZA</h1>
                </a>
                <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars tm-nav-icon"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto h-100">
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'customer_dashboard' %}">
                                <i class="fas fa-tachometer-alt"></i>
                                Ibikorwa
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'record_new_carriage' %}">
                                <i class="fas fa-shopping-cart"></i>
                                Imigizo
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile_page' %}">
                                <i class="far fa-user"></i>
                                Konti
                            </a>
                        </li>
                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-file-alt"></i>
                                <span>
                                    Incamacye <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Daily Report</a>
                                <a class="dropdown-item" href="#">Weekly Report</a>
                                <a class="dropdown-item" href="#">Yearly Report</a>
                            </div>
                        </li>

                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link d-block" href="{% url 'login_page' %}">
                                {{user.first_name}}, <b>Logout</b>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-white mt-5 mb-5">Ibikorwa byanyu, <b>{{user.first_name}}</b></p>
                </div>
            </div>
            <!-- row -->
            <div class="row tm-content-row">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-overflow">
                        <h2 class="tm-block-title">Abahawe Akazi ({{list_of_drivers|length}})</h2>
                        <div class="tm-notification-items">
                            <div class="media tm-notification-item">
                                {% for driver in list_of_drivers %}
                                {% if forloop.counter < 3 %}
                                <div class="tm-gray-circle"><img src="{% static 'customer-dashboard/img/notification-01.jpg' %}" alt="Avatar Image" class="rounded-circle"></div>
                                <div class="media-body">
                                    <p class="mb-2"><b>{{driver.account.first_name}}</b> and <b>6 others</b> sent you new <a href="#"
                                            class="tm-notification-link">product updates</a>. Check new orders.</p>
                                    <span class="tm-small tm-text-color-secondary">6h ago.</span>
                                </div>
                                 {% elif forloop.counter == 3 %}
                                <h1>Abandi</h1>
                                 {% endif %}
                                 {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
<!--                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col hidden">-->
<!--                    <div class="tm-bg-primary-dark tm-block">-->
<!--                        <h2 class="tm-block-title">Performance</h2>-->
<!--                        <canvas id="barChart"></canvas>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">-->
<!--                    <div class="tm-bg-primary-dark tm-block tm-block-taller">-->
<!--                        <h2 class="tm-block-title">Storage Information</h2>-->
<!--                        <div id="pieChartContainer">-->
<!--                            <canvas id="pieChart" class="chartjs-render-monitor" width="200" height="200"></canvas>-->
<!--                        </div>                        -->
<!--                    </div>-->
<!--                </div>-->
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-overflow">
                        <h2 class="tm-block-title">Abatse Akazi ({{list_of_drivers|length}})</h2>
                       <div class="media tm-notification-item">
                                {% for driver in list_of_drivers %}
                                {% if forloop.counter < 3 %}
                                <div class="tm-gray-circle"><img src="{% static 'customer-dashboard/img/notification-01.jpg' %}" alt="Avatar Image" class="rounded-circle"></div>
                                <div class="media-body">
                                    <p class="mb-2"><b>{{driver.account.first_name}}</b> and <b>6 others</b> sent you new <a href="#"
                                            class="tm-notification-link">product updates</a>. Check new orders.</p>
                                    <span class="tm-small tm-text-color-secondary">6h ago.</span>
                                </div>
                                 {% elif forloop.counter == 3 %}
                                <h1>Abandi</h1>
                                 {% endif %}
                                 {% endfor %}
                            </div>
                    </div>
                </div>
                <div class="row" style="margin-left:10%;">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block">Ibijyanye n' Umuzigo</h2>
              </div>
            </div>
            <div class="row tm-edit-product-row">
              <div class="col-xl-6 col-lg-6 col-md-12">
                  <form method="POST" action="{% url 'delivery_edit' pk=delivery.pk %}" class="tm-edit-product-form">
                  {% csrf_token %}
                  <div class="form-group mb-3">
                    <label for="dp-date">Italiki n' Isaha Umuzigo uzafatirwa</label>
                    <input id="dp-date" type="datetime-local" value="{{delivery.departure_date_time|date:'Y-m-d'}}T{{delivery.departure_date_time|time:'H:i'}}" name="departure_date_time" class="form-control validate" required />
                  </div>
                  <div class="form-group mb-3">
                    <label for="arr-date">Italiki n' Isaha Umuzigo uzakugeraho</label>
                    <input id="arr-date" value="{{delivery.arrival_date_time|date:'Y-m-d'}}T{{delivery.arrival_date_time|time:'H:i'}}" type="datetime-local" name="arrival_date_time" class="form-control validate" required />
                  </div>
<!--                  <div class="form-group mb-3">-->
<!--                    <label>Description </label>-->
<!--                    <textarea class="form-control validate"  rows="3" required></textarea>-->
<!--                  </div>-->
<!--                  <div class="form-group mb-3">-->
<!--                    <label for="category">Category</label>-->

<!--                    <select class="custom-select tm-select-accounts" id="category" >-->
<!--                      <option selected>Select category</option>-->
<!--                      <option value="1">New Arrival</option>-->
<!--                      <option value="2">Most Popular</option>-->
<!--                      <option value="3">Trending</option>-->
<!--                    </select>-->
<!--                  </div>-->
                  <div class="row">

                        <div class="form-group mb-3 col-xs-12 col-sm-6">
                          <label for="qty">Ibiro by' umuzigo </label>

                          <input id="qty" value="{{delivery.kilograms}}" type="number" name="kilograms" class="form-control validate" required />

                        </div>
                        <div class="form-group mb-3 col-xs-12 col-sm-6">
                          <label for="price" >Igiciro</label>

                          <input id="price" type="number" value="{{delivery.price}}" name="price" class="form-control validate" required />

                        </div>
                  </div>
                   <div class="row">

                        <div class="form-group mb-3 col-xs-12 col-sm-6">
                          <label for="dep">Aho Umuzigo uvuye </label>

                          <input id="dep" value="{{delivery.origin}}" name="origin" type="text" class="form-control validate" required />

                        </div>
                        <div class="form-group mb-3 col-xs-12 col-sm-6">
                          <label for="arri" >Aho Umuzigo Ujya</label>

                          <input id="arri" type="text" value="{{delivery.destination}}" name="destination" class="form-control validate" required />

                        </div>
                  </div>


              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                <div class="tm-product-img-dummy mx-auto">
                  <i class="fas fa-cloud-upload-alt tm-upload-icon" onclick="document.getElementById('fileInput').click();" ></i>

                </div>
                <div class="custom-file mt-3 mb-3">
                  <input id="fileInput" type="file" style="display:none;" />
                  <input  type="button" class="btn btn-primary btn-block mx-auto" value="Shyiraho Ifoto" onclick="document.getElementById('fileInput').click();"/>
                </div>

              </div>

                    {% if delivery.status == 'W' %}
                     <span style="margin-right:1%;color:white;margin-left:2%;">Hisha Ubusabe</span>  <input type="checkbox" class="form-control" value="D" name="status1" id="">
                    {% elif delivery.status == 'D' %}
                     <span style="margin-right:1%;color:white;margin-left:2%;">Tangaza Ubusabe</span> <input type="checkbox" value="W" name="status2" id="">
                    {% endif %}

              <div class="col-12" style="margin-top:1%;">
                <button type="submit" id="customer_login_button_one" class="btn btn-primary btn-block text-uppercase">EMEZA</button>
              </div>
                </form>
            </div>
          </div>
        </div>
      </div>

            </div>
        </div>
        <footer class="tm-footer row tm-mt-small">
            <div class="col-12 font-weight-light">
                <p class="text-center text-white mb-0 px-4 small">
                    Copyright &copy; <b>2021</b> All rights reserved.
                    
                    Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
                </p>
            </div>
        </footer>
    </div>


    <script src="{% static 'customer-dashboard/js/jquery-3.3.1.min.js' %}"></script>
    <!-- https://jquery.com/download/ -->
    <script src="{% static 'customer-dashboard/js/moment.min.js' %}"></script>
    <!-- https://momentjs.com/ -->
    <script src="{% static 'customer-dashboard/js/Chart.min.js' %}"></script>
    <!-- http://www.chartjs.org/docs/latest/ -->
    <script src="{% static 'customer-dashboard/js/bootstrap.min.js' %}"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="{% static 'customer-dashboard/js/tooplate-scripts.js' %}"></script>
    <script>
        Chart.defaults.global.defaultFontColor = 'white';
        let ctxLine,
            ctxBar,
            ctxPie,
            optionsLine,
            optionsBar,
            optionsPie,
            configLine,
            configBar,
            configPie,
            lineChart;
        barChart, pieChart;
        // DOM is ready
        $(function () {
            drawLineChart(); // Line Chart
            drawBarChart(); // Bar Chart
            drawPieChart(); // Pie Chart

            $(window).resize(function () {
                updateLineChart();
                updateBarChart();                
            });
        })
    </script>
</body>

</html>