{% extends 'customer_dashboard.html' %}

{% block side_bar %}
<div class="side_bar">
    <ul>
        <li> <a href="{% url 'customer_dashboard' %}">Imizigo</a> </li>
        <li class="side_bar_active"> Andika umuzigo </li>
    </ul>
</div>
{% endblock %}


{% block customer_dashboard_block %}
<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col">
            <br>
            <br>
            <br>
            <br>
            <form method="POST" action="{% url 'record_new_carriage' %}">
                {% csrf_token %}
                <h3>Andika umuzigo</h3>
                <label for="">Italiki n'isaha umuzigo uzafatirwa</label>
                <input required class="form-control" type="datetime-local" name="departure_date_time" id="">
                <br>
                <label for="">Italiki n'isaha ugomba kukugereraho</label>
                <input required class="form-control" type="datetime-local" name="arrival_date_time" id="">
                <br>
                <label for="">Ibiro by'umuzigo</label>
                <input required class="form-control" type="number" name="kilograms" id="">
                <br>
                <label for="">Aho umuzikgo uvuye</label>
                <input required class="form-control" name="origin" type="text">
                <br>
                <label for="">Aho umuzigo ujya</label>
                <input required type="text" class="form-control" name="destination">
                <br>
                <!-- <br> -->
                <label for="">Igiciro</label>
                <input required type="number" name="price" class="form-control">
                <br>
                <br>
                <div hidden id="googleMap" style="width:100%;height:400px;"></div>
                <br>
                <div class="action_buttons">
                    <!-- <a id="customer_register_button" class="auth_button_vaigation" >Iyandikishe</a> -->
                    <button type="submit" class="auth_button" id="customer_login_button_one">OHEREZA</button>
                </div>
                <br>
                <br>
            </form>
        </div>
        <div class="col">

        </div>
    </div>
</div>

<script>

    function myMap() {
        var mapProp = {
            center: new google.maps.LatLng(51.508742, -0.120850),
            zoom: 5,
        };
        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
    }
</script>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLEUt7BVJS25xcpYyb9p9lm_NY7lsRnLI&callback=myMap"></script>

{% endblock %}